.main-body {
  background-color: var(--blue-300);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.photo-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.photo {
  border-radius: 10px;
}

img {
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.3), 0 4px 6px -4px rgb(0 0 0 / 0.3);
  display: block;
}
